// colors
$red: #b82727;
$orange: rgb(235, 131, 12);
$yellow: rgb(255, 200, 61);
$bg-gray: #202123;
$gray-9: #999;
$gray-8: #888;
$gray-7: #777;
$gray-6: #666;
$gray-5: #555;

/* fonts */
// Righteous, Sofia Sans Extra Condensed, Titan One, Orbitron
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sofia+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap&family=Orbitron&display=swap');


/* breakpoints */
$desktop: 1200px;
$laptop: 1024px;
$tablet: 868px;
$mobile: 670px;
$mini: 372px;